body {
    padding: 50px;
    font: small Georgia,Serif;
}

br {
    clear: both;
    overflow: auto;
}

header {
    position: relative;
    width: 600px;
    margin: 0 auto 0;
    padding: 0em;
    border: 1px solid #ccc;

    h1 {
        display: block;
        border: 1px solid #eee;
        border-bottom: 1px;

        /* no margin at bottom! */
        margin: 5px 5px 0;
        text-align: center;
        padding: 20px 20px 0px;
        color: #666;
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 0.2em;
    }

    p {

        /* no margin at top! */
        margin: 0 5px 5px;
        padding: 1em 1em 20px;
        color: #999;
        text-transform: uppercase;
        font-size: 75%;
        border: 1px solid #eee;
        border-top: 1px;
        text-align: center;
        letter-spacing: 0.2em;
    }
}

a {
    color: #00B7FF;
}

aside {
    float: right;
    width: 220px;
    margin-right: 3em;

    img {
        float: left;
        width: 80px;
        height: 80px;
        padding: 4px;
        border: 1px solid #ddd;
        margin: 0 8px 3px 0;
    }

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 0.2em;
        color: #666;
    }

    p:first-line {
        text-transform: uppercase;
        line-height: 2em;
    }
}

p {
    display: block;
    line-height: 1.4em;
}

article {
    float: left;
    margin-top: 3em;
    margin-left: 10em;
    width: 510px;

    h1 {
        color: #666;
        font-size: 1.5em;
        letter-spacing: 0.2em;
    }

    h2 {
        clear: both;
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1.4em;
        color: #c60;
    }
}

img#me-fixing-iphone {
    float: left;
    padding: 4px;
    border: 1px solid #ddd;
    margin-right: 1em;
    margin-bottom: 1em;
}

footer {
    clear: both;
    margin: 5em auto 1em;
    width: 60%;

    p {
        color: #666;
        font-style: italic;
    }
}

