<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>...and mod installation.</p>

    <h2>About</h2>

    <p>I'm Kyle Pehkonen. You have most likely come to my site because Irecommended to you or you just happened to come across in searching for help.</p>

    <p>On this site, I have put a few different popular Minecraft mods that I could install for you, and a bit of info for my laptop repairs. Enjoy my site!</p>

  </body>
</html>
