<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>

        <h1><%= title %></h1>

        <p>...and mod installation.</p>

    </header>

    <aside>

        <h1>About</h1>

        <img src="/images/kyle.jpg">

        <p>My name is Kyle Pehkonen.  You have most likely come to my site because I recommended to you or you just happened to come across in searching for help.</p>

    </aside>

    <article>

        <h1>Welcome!</h1>

        <p>On this site, I have put a few different popular Minecraft mods that I could install for you, and a bit of info for my laptop repairs. Enjoy my site!</p>

    </article>

    <footer>
        
        <p>Thanks for visiting.  Come again soon!</p>

    </footer>

</body>
</html>
