<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>

        <h1><%= title %></h1>

        <p>...and mod installation.</p>

    </header>

    <aside>

        <h1>About</h1>

        <img src="/images/kyle.jpg">

        <p>My name is Kyle Pehkonen.  You have most likely come to my site because I recommended to you or you just happened to come across in searching for help.</p>

    </aside>

    <article>

        <section>

            <h1>Welcome!</h1>

            <p>On this site, I have put a few different popular Minecraft mods that I could install for you, and a bit of info for my laptop repairs. Enjoy my site!</p>

        </section>

        <section>
            
            <h1>Computer Repairs</h1>

            <img id="me-fixing-iphone" src="/images/2013-03-11_193256.jpg">

            <p>Before we get into this, my easiest fix is the MacBook Pro Trackpad Repacement.  But if you have another issue, please send me an email describing it, and maybe a few pictures of the issue.</p>

            <p>I also fix iPods and iPhones.</p>

            <br>
            <h1>Minecraft Mods</h1>

            <p>I can also install mods for Minecraft.  I can install a range from Too Many Items to even Mo' Creatures, etc.  Mods will cost about $5 &em; $10 depending on the difficulty.  Email me if you're interested.</p>

        </section>

    </article>

    <footer>
        
        <p>Thanks for visiting.  Come again soon!</p>

    </footer>

</body>
</html>
